@page
@model CarRenting_Client.Pages.CarBrandModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Car Brand</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <style>
        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }

    </style>
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>

<body>
    <div class="container">
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/pic/logo.jpg" alt="">
                    <h1>HCAR</h1>
                </div>
                @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="Booking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Transaction">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <a href="Profile">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Profile</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("2"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="CarBrand">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Car Brand</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }

            </div>
        </nav>

        <section class="main">
            <div class="main-top">
                <p>Car Renting</p>
            </div>
            <div class="main-body">
                <h1>Car Brand</h1>

                <form method="get">
                    <div class="search_bar">
                        <input asp-for="Name" placeholder="Search car brand...">
                        <input type="submit" value="Search" />
                    </div>
                </form>


                @if (Model.CarBrands == null)
                {
                    <p>No Brands found!</p>
                }
                else
                {
                    @foreach (var car in Model.CarBrands)
                    {
                        <div class="job_card">
                            <div class="job_details">
                                <div class="text">
                                    <div>
                                        <span style="font-weight: bold;">ID: </span>
                                        <span>@car.CarBrandID</span>
                                    </div>
                                    <div>
                                        <span style="font-weight: bold;">Name: </span>
                                        <span>@car.Name</span>
                                    </div>
                                </div>
                            </div>
                            <div class="job_salary">
                                <button onclick="openForm1()">Edit</button>
                            </div>
                        </div>
                       


                        <div class="form-popup" id="myForm1">
                            <form method="post" asp-page-handler="Update" class="form-container">

                                <label for="RoomNumber"><b>Brand name</b></label>
                                <input type="text" asp-for="@car.Name" required>
                                <span asp-validation-for="@car.Name" class="text-danger"></span>

                                <input type="hidden" asp-for="@car.CarBrandID" required>

                                <button type="submit" class="btn">Update</button>
                                <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>
                            </form>
                        </div>
                        
                    }
                }

            </div>

            @if (TempData["Message"] != null)
            {
                <div class="notification">
                    <p>@TempData["Message"]</p>
                </div>
            }

        </section>




    </div>

    <script>
        function openForm1() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm1() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const notification = document.querySelector('.notification');

            setTimeout(function () {
                notification.classList.add('show');
                setTimeout(function () {
                    notification.classList.remove('show');
                }, 3000);
            }, 1000); // Show notification after 1 second
        });


    </script>

    @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("2"))
    {
        <button class="open-button" onclick="openForm()">Add New Brand</button>
    }

    <div class="form-popup" id="myForm">
        <form method="post" asp-page-handler="CreateRoomInformation" class="form-container" enctype="multipart/form-data">
            <h1>Brand</h1>
            <label for="RoomNumber"><b>Full Name</b></label>
            <input type="text" asp-for="CarBrandAdd.Name" required><br />
            <span asp-validation-for="CarBrandAdd.Name" class="text-danger"></span>
            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</body>

</html>