@page
@model CarRenting_Client.Pages.CarDamageModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <title>Car Damage</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <style>
        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }

    </style>
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>

    <div class="container">
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/pic/logo.jpg" alt="">
                    <h1>HCAR</h1>
                </div>
                @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="Booking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Transaction">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <a href="Profile">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Profile</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("2"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }

            </div>
        </nav>

        <section class="main">
            <div class="main-top">
                <p>Car Renting</p>
            </div>
            <div class="main-body">



                <h1>Car Damage</h1>

                <form method="post" enctype="multipart/form-data">
                    <div style="display: flex;">
                        <div style="width: 49%;height: 25%; padding-right: 1%; text-align: left;">
                            <h1>Image</h1>
                            @if (@Model.CarDamage.ImageCarDamage == null)
                            {
                                <img src="https://static.vecteezy.com/system/resources/thumbnails/025/019/602/small/camping-hiking-nature-mountain-river-graphic-illustration-vector-art-t-shirt-design-generative-ai-png.png" style="width: 50%; text-align: center;">
                            }else{
                                <img src="@Model.CarDamage.ImageCarDamage" style="width: 50%; text-align: center;">
                            }
                            <div>
                                <label>Booking: </label>
                                <p>@Model.PaymentDTO.booking</p>
                            </div>
                            <div>
                                <label>Damage</label>
                                <p>@Model.PaymentDTO.damage</p>
                            </div>
                            <div>
                                <label>Total</label>
                                <p>@Model.PaymentDTO.total</p>
                            </div>
                        </div>
                        <div style="width: 49%; padding-left: 1%;">
                            <input type="hidden" asp-for="CarDamage.CarDamageID">
                            <label for="fname">Fined:</label><br>
                            <input disabled asp-for="CarDamage.Fined" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="lname">Damage:</label><br>
                            <textarea disabled asp-for="CarDamage.Damage" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"></textarea><br>
                        </div>

                    </div>
                </form>

                
                @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1") && Model.PaymentDTO.Status != 4 && Model.PaymentDTO.Status != 3)
                {
                    <form method="post" asp-page-handler="CreateCheckOutSession">
                        <div class="search_bar">
                            <input type="hidden" asp-for="PaymentDTO.total">
                            <input type="submit" value="submit" />
                        </div>
                    </form>
                }

            </div>
        </section>

        @if (TempData["Message"] != null)
            {
                <div class="notification">
                    <p>@TempData["Message"]</p>
                </div>
            }

    </div>

    @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3") && Model.PaymentDTO.Status != 4 && Model.PaymentDTO.Status != 3)
    {
        <button class="open-button" onclick="openForm()">Update</button>
    }
    

    <div class="form-popup" id="myForm">
        <form method="post" class="form-container" enctype="multipart/form-data">
            <label for="file">Select Image:</label>
            <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png" />

            <label for="RoomNumber"><b>Damage</b></label><br></br>
            <textarea style="height: 30%; border: 1px solid #ccc;" asp-for="CarDamage.Damage" required></textarea>
            <span asp-validation-for="CarDamage.Damage" class="text-danger"></span><br />

            <label for="RoomDetailDescription"><b>Fined</b></label>
            <input type="text" asp-for="CarDamage.Fined" required>
            <span asp-validation-for="CarDamage.Fined" class="text-danger"></span>

            <input type="hidden" asp-for="CarDamage.CarDamageID" required>
            <input type="hidden" asp-for="CarDamage.BookingDetailID" required>

            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</body>
</html>

