@page
@model CarRenting_Client.Pages.ContractModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <title>Contract</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <style>
        .button-accept {
            background-color: #04AA6D; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .button-reject {
            background-color: red; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }
    </style>
    <style>
        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }

    </style>
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>

    <div class="container">
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/pic/logo.jpg" alt="">
                    <h1>HCAR</h1>
                </div>
                @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="Booking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Transaction">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <a href="Profile">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Profile</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("2"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }

            </div>
        </nav>

        <section class="main">
            <div class="main-top">
                <p>Car Renting</p>
            </div>
            <div class="main-body">



                <h1>Upload Profile Image</h1>

                <form method="post" enctype="multipart/form-data">
                    <div style="display: flex;">
                        <div style="width: 49%; padding-right: 1%; text-align: right;">
                            <img src="https://static.vecteezy.com/system/resources/thumbnails/025/019/602/small/camping-hiking-nature-mountain-river-graphic-illustration-vector-art-t-shirt-design-generative-ai-png.png" style="width: 100%; text-align: center;">
                        </div>
                        <div style="width: 49%; padding-left: 1%;">
                            <input type="hidden" asp-for="Contract.ContractID">
                            <label for="fname">Car Information:</label><br>
                            <input disabled asp-for="Contract.CarInformation" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"><br>
                            <label for="lname">Deposit:</label><br>
                            <textarea disabled asp-for="Contract.Deposit" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"></textarea><br>
                            <label for="lname">Note:</label><br>
                            <textarea disabled asp-for="Contract.Note" style="padding: 10px; border: 1px solid #ccc; border-radius: 4px; width: 100%; transition: border-color 0.3s;"></textarea><br>
                        </div>

                    </div>
                </form>
            </div>
            @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1") && Model.Contract.Status == 3)
            {
                <form asp-page-handler="Accept" asp-route-contractID="@Model.Contract.ContractID">
                    <input type="hidden" name="ContractID" value="@Model.Contract.ContractID" />
                    <button type="submit" class="button-accept">Accept</button>
                </form>
                <form asp-page-handler="Reject" asp-route-contractID="@Model.Contract.ContractID"
                      onclick="return confirm('Are you sure you want to reject this?')">
                    <input type="hidden" name="ContractID" value="@Model.Contract.ContractID" />
                    <button type="submit" class="button-reject">Reject</button>
                </form>
            }

            @if (TempData["Message"] != null)
            {
                <div class="notification">
                    <p>@TempData["Message"]</p>
                </div>
            }

            
        </section>
    </div>

    @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3") && Model.Contract.Status==1)
    {
        <button class="open-button" onclick="openForm()">Update</button>
    }

    <div class="form-popup" id="myForm">
        <form method="post" class="form-container">

            <label for="RoomNumber"><b>Car Information</b></label><br></br>
            <textarea style="height: 30%; border: 1px solid #ccc;" asp-for="Contract.CarInformation" required></textarea>
            <span asp-validation-for="Contract.CarInformation" class="text-danger"></span><br />

            <label for="RoomDetailDescription"><b>Deposit</b></label>
            <input type="text" asp-for="Contract.Deposit" required>
            <span asp-validation-for="Contract.Deposit" class="text-danger"></span>

            <label for="RoomNumber"><b>Note</b></label><br></br>
            <textarea style="height: 30%; border: 1px solid #ccc;" asp-for="Contract.Note" required></textarea>
            <span asp-validation-for="Contract.Note" class="text-danger"></span><br />

            <input type="hidden" asp-for="Contract.ContractID" required>

            <button type="submit" class="btn">Update</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</body>
</html>


