@page
@model CarRenting_Client.Pages.ContractModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <title>Contract</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <style>
        .button-accept {
            background-color: #04AA6D; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .button-reject {
            background-color: red; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }
    </style>
    <style>
        .notification {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

            .notification.show {
                opacity: 1;
                transform: translateX(-50%) translateY(0);
            }

    </style>
    <!-- Font Awesome Cdn Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>

</head>
<body>

    <div class="container">
        <nav>
            <div class="navbar">
                <div class="logo">
                    <img src="/pic/logo.jpg" alt="">
                    <h1>HCAR</h1>
                </div>
                @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="Booking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Transaction">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <a href="Profile">
                                <i class="fab fa-dochub"></i>
                                <span class="nav-item">Profile</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("2"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="CarBrand">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Car Brand</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3"))
                {
                    <ul>
                        <li>
                            <a href="Car">
                                <i class="fas fa-car"></i>
                                <span class="nav-item">Car</span>
                            </a>
                        </li>
                        <li>
                            <a href="StaffBooking">
                                <i class="fas fa-chart-bar"></i>
                                <span class="nav-item">Booking</span>
                            </a>
                        </li>
                        <li>
                            <a href="Payment">
                                <i class="fas fa-tasks"></i>
                                <span class="nav-item">Transaction</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                }

            </div>
        </nav>

        <section class="main">
            <div class="main-top">
                <p>Car Renting</p>
            </div>
            <div class="main-body">
                @if (Model.Contract.Status != 1)
                {
                    <div style="display:flex; justify-content:space-between;width:100%;">
                        <div style="width:70%;border-radius:10px;background-color:white;padding:4px;">
                            @foreach (var bookingDetail in Model.Booking.BookingDetails)
                            {
                                <div style="margin-left: 15px;">
                                    <label style="font-weight: bold;" for="fname">Car Name:</label>
                                    <span>@bookingDetail.Car.CarName</span>
                                    <br>
                                    <label style="font-weight: bold;" for="fname">Car Plate:</label>
                                    <span>@bookingDetail.Car.CarPlate</span>
                                    <br>
                                    <br>
                                    <label style="font-weight: bold;" for="fname">Car Price Per Day:</label>
                                    <span>@bookingDetail.Car.PricePerDay</span>
                                    <br>
                                    <label style="font-weight: bold;" for="fname">Car Status:</label>
                                    <span>@bookingDetail.Car.Status</span>
                                    <br>
                                    <label style="font-weight: bold;" for="fname">Car Seat:</label>
                                    <span>@bookingDetail.Car.Seat</span>
                                    <br>
                                    <label style="font-weight: bold;" for="fname">Car Description:</label>
                                    <span>@bookingDetail.Car.Description</span>
                                    <br>
                                    <label style="font-weight: bold;" for="fname">Car Brand:</label>
                                    <span>@bookingDetail.Car.CarBrand.Name</span>
                                    <br>
                                </div>
                            }
                        </div>
                        <div style="width:27%;border-radius:10px;background-color:white;padding:4px;">
                            <label style="font-weight: bold;" for="fname">Booking Date:</label>
                            <span>@Model.Booking.BookingDate</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">Total Price:</label>
                            <span>@Model.Booking.TotalPrice</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">User ID:</label>
                            <span>@Model.Booking.User.UserID</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">User Name:</label>
                            <span>@Model.Booking.User.UserName</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">User Email:</label>
                            <span>@Model.Booking.User.Email</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">User Phone:</label>
                            <span>@Model.Booking.User.Phone</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">User Identification:</label>
                            <span>@Model.Booking.User.Identification</span>
                            <br>
                            <label style="font-weight: bold;" for="fname">User License:</label>
                            <span>@Model.Booking.User.License</span>
                        </div>
                    </div>
                }
                
                @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3") && Model.Contract.Status == 1)
                {
                    <div>
                        <form asp-page-handler="Update">

                            <label for="RoomNumber"><b>Car Information</b></label><br></br>
                            <textarea class="form-control1" asp-for="Contract.CarInformation"></textarea>


                            <label for="RoomDetailDescription"><b>Deposit</b></label>
                            <input type="text" asp-for="Contract.Deposit" required>
                            <span asp-validation-for="Contract.Deposit" class="text-danger"></span>

                            <label for="RoomNumber"><b>Note</b></label><br></br>
                            <textarea style="height: 30%; border: 1px solid #ccc;" asp-for="Contract.Note" required></textarea>
                            <span asp-validation-for="Contract.Note" class="text-danger"></span><br />

                            <input type="hidden" asp-for="Contract.ContractID" required>

                            <button class="button-accept" type="submit">Update</button>
                        </form>
                    </div>
                }
                
            </div>
            <div style="background-color: white;
    border-radius: 15px;
    width: 96%;
    margin-left: 4%;
    padding-left: 22px;">
                @Html.Raw(@Model.Contract.CarInformation)
            </div>
            @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("1") && Model.Contract.Status == 3)
            {
                <div style="display:flex; justify-content:space-around">
                    <form asp-page-handler="Accept" asp-route-contractID="@Model.Contract.ContractID">
                        <input type="hidden" name="ContractID" value="@Model.Contract.ContractID" />
                        <button type="submit" class="button-accept">Accept</button>
                    </form>
                    <form asp-page-handler="Reject" asp-route-contractID="@Model.Contract.ContractID"
                          onclick="return confirm('Are you sure you want to reject this?')">
                        <input type="hidden" name="ContractID" value="@Model.Contract.ContractID" />
                        <button type="submit" class="button-reject">Reject</button>
                    </form>
                </div>
            }
            <form asp-page-handler="Export"
                  onclick="return confirm('Are you sure you want to expert file this?')">
                <input type="hidden" asp-for="Contract.ContractID" required>
                <input type="hidden" asp-for="Contract.CarInformation" required>
                <input type="hidden" asp-for="Contract.Deposit" required>
                <input type="hidden" asp-for="Contract.Note" required>
                <button type="submit" class="button-accept">Export file</button>
            </form>

            @if (TempData["Message"] != null)
            {
                <div class="notification">
                    <p>@TempData["Message"]</p>
                </div>
            }

       

            
        </section>
    </div>

    @if (HttpContext.Session.GetString("RoleID") != null && HttpContext.Session.GetString("RoleID").Equals("3") && Model.Contract.Status==1)
    {
        <button class="open-button" onclick="openForm()">Update</button>
    }

    <script>
        ClassicEditor
            .create(document.querySelector('.form-control1'))
            .then(editor => {
            })
            .catch(error => {
                console.error(error);
            });
    </script>

</body>
</html>


