@page
@model CarRenting_Client.Pages.UserModel
@{
    Layout = null;
}
<!DOCTYPE html>
    <html lang="en">

    <head>
        <title>User</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRenting_Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/popup.css" />
    <link rel="stylesheet" href="/css/CreateUser.css" />
        <style>
            .notification {
                position: fixed;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #f1f1f1;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                opacity: 0;
                transition: opacity 0.3s ease, transform 0.3s ease;
            }

                .notification.show {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0);
                }

        </style>
        <!-- Font Awesome Cdn Link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    </head>

    <body>
        <div class="container">
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <img src="/pic/logo.jpg" alt="">
                        <h1>HCAR</h1>
                    </div>
                    <ul>

                        <li>
                            <a href="User">
                                <i class="fas fa-user"></i>
                                <span class="nav-item">Users</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span class="nav-item">Logout</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>

            <section class="main">
                <div class="main-top">
                    <p>Car Renting</p>
                </div>
                <div class="main-body">
                    <h1>Users Management</h1>
                    <form method="post">
                        <div class="search_bar">
                            <input asp-for="Search" type="text" value="@Model.Search" />
                            <input type="submit" value="Search" />
                        </div>

                    </form>
                    @if (Model.User == null)
                    {
                        <p>
                            No Users found!
                        </p>
                    }
                    else
                    {
                        @foreach (var item in Model.User)
                        {
                            <div class="job_card">
                                <div class="job_details">
                                    <div class="text">
                                        <div>
                                            <span style="font-weight: bold;">UserName: </span>
                                            <span>@item.UserName</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Password: </span>
                                            <span>@item.Password</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Email: </span>
                                            <span>@item.Email</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Phone: </span>
                                            <span>@item.Phone</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Identification: </span>
                                            <span>@item.Identification</span>
                                        </div><div>
                                            <span style="font-weight: bold;">License: </span>
                                            <span>@item.License</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">RoleID: </span>
                                            <span>@item.RoleID</span>
                                        </div>
                                        <div>
                                            <span style="font-weight: bold;">Status: </span>
                                            <span>@item.Status</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="display: grid">
                                <div style="margin-top: 30px; text-align: center" onclick="openUpdateForm('@item.UserID')">
                                        Update
                                    </div><div style="margin-top: 30px; text-align: center" onclick="openDeleteForm('@item.UserID')">
                                        Delete
                                    </div>
                                </div>
                            </div>
                        <div class="form-popup" id="myUpdateForm_@item.UserID">
                            <form method="post" asp-page-handler="Update" class="form-container" id="formUpdate_@item.UserID" enctype="multipart/form-data">
                                <h1>User</h1>

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserUpdate.UserID" value="@item.UserID" />
                                <div class="form-group">
                                    <label asp-for="UserUpdate.UserName" class="control-label"></label>
                                    <input asp-for="UserUpdate.UserName" class="form-control" value="@item.UserName"/>
                                    <span asp-validation-for="UserUpdate.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.Password" class="control-label"></label>
                                    <input asp-for="UserUpdate.Password" class="form-control" type="password" value="@item.Password" />
                                    <span asp-validation-for="UserUpdate.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.Email" class="control-label"></label>
                                    <input asp-for="UserUpdate.Email" class="form-control" value="@item.Email"/>
                                    <span asp-validation-for="UserUpdate.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.Phone" class="control-label"></label>
                                    <input asp-for="UserUpdate.Phone" class="form-control" value="@item.Phone"/>
                                    <span asp-validation-for="UserUpdate.Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.Identification" class="control-label"></label>
                                    <input asp-for="UserUpdate.Identification" class="form-control" value="@item.Identification"/>
                                    <span asp-validation-for="UserUpdate.Identification" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.License" class="control-label"></label>
                                    <input asp-for="UserUpdate.License" class="form-control" value="@item.License"/>
                                    <span asp-validation-for="UserUpdate.License" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.Status" class="control-label"></label>
                                    <input asp-for="UserUpdate.Status" class="form-control" value="@item.Status"/>
                                    <span asp-validation-for="UserUpdate.Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.RoleID" class="control-label"></label>
                                    <input asp-for="UserUpdate.RoleID" class="form-control" value="@item.RoleID"/>
                                    <span asp-validation-for="UserUpdate.RoleID" class="text-danger"></span>
                                </div>
                                <div>
                                    <button type="submit" class="btn">Update</button>
                                    <button type="button" class="btn cancel" onclick="closeUpdateForm('@item.UserID')">Close</button>
                                </div>
                            </form>
                        </div>
                        <div class="form-popup" id="myDeleteForm_@item.UserID">
                            <form method="post" asp-page-handler="Delete" class="form-container" id="@item.UserID" enctype="multipart/form-data">
                                <h1>User</h1>

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserUpdate.UserID" value="@item.UserID" />
                                <div class="form-group">
                                    <label asp-for="UserUpdate.UserName" class="control-label"></label>
                                    <input asp-for="UserUpdate.UserName" class="form-control" value="@item.UserName"/>
                                    <span asp-validation-for="UserUpdate.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UserUpdate.Email" class="control-label"></label>
                                    <input asp-for="UserUpdate.Email" class="form-control" value="@item.Email"/>
                                    <span asp-validation-for="UserUpdate.Email" class="text-danger"></span>
                                </div>
                                <div>
                                    <button type="submit" class="btn">Delete</button>
                                    <button type="button" class="btn cancel" onclick="closeDeleteForm('@item.UserID')">Close</button>
                                </div>
                            </form>
                        </div>

                        }
                    }

                </div>

                @if (TempData["Message"] != null)
                {
                    <div class="notification">
                        <p>@TempData["Message"]</p>
                    </div>
                }

            </section>

        </div>
    <script>
        function openUpdateForm(id) {
            document.getElementById("myUpdateForm_" +id).style.display = "block";
        }

        function closeUpdateForm(id) {
            document.getElementById("myUpdateForm_" +id).style.display = "none";
        }
    </script>
    <script>
        function openDeleteForm(id) {
            document.getElementById("myDeleteForm_" +id).style.display = "block";
        }
         
        function closeDeleteForm(id) {
            document.getElementById("myDeleteForm_" +id).style.display = "none";
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const notification = document.querySelector('.notification');

            setTimeout(function () {
                notification.classList.add('show');
                setTimeout(function () {
                    notification.classList.remove('show');
                }, 3000);
            }, 1000); // Show notification after 1 second
        });


    </script>
    </body>

    </html>
